body {

  background: url(../images/photo.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

.container .padding {
  padding-top: 50px; 
}

#header #menu.active {
  background-color: black; 
}

#header .navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 7px;
  margin: 0; 
}

#header .navbar-nav {
  padding: 5px 0; 
}

#header .navbar-nav li > a {
  font-size: 13.5px;
  font-weight: 500;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  padding: 10px 15px; 
}

#header .navbar-nav li > a:hover, #header .navbar-nav li > a:focus {
  -webkit-transition: background 0.x5s;
  transition: background 0.5s;
  background-color: #3A0404;
  color: #fff; 
}

#header .navbar-nav .active {
  color: #fff; 
}

#header .navbar-toggle {
  border: 1px solid #E10F0F;
  background-color: #E10F0F;
  margin-top: 8px;
  box-shadow: 1px 1px 11px #DF0101; 
}

#header .navbar-toggle .icon-bar {
  background-color: #fff; 
}
#header .navbar-collapse {
  border-color: #363033;
  margin-top: 7px; 
}

#header .navbar-brand {
  padding: 0 15px; 
}

#header .navbar-brand img {
  width: 60px;
  height: 50px; 
}

#header .navbar-brand:hover, #header .navbar-brand:focus {
  opacity: 0.5; 
}

#home {
  background: url(../images/fondo-header.jpg) no-repeat;
  background-size: cover;
  background-color: rgba(1, -0, -1,-0.2);
  background-blend-mode: color; 
}

#home .banner {
  position: relative;
}

#home .banner .img-banner {
  width: 85%;
  margin: 270px auto 270px; 
}

@media screen and (min-width: 968px) {
  #home .banner .img-banner { 
   width: 70%; 
  } 
}
  
#home .banner button {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  color: #fff;
  font-style: normal;
  background-color: transparent;
  padding: 10px 30px;
  color: #fff;
  margin: 10px auto 30px;
  border: 2px solid #fff;
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif; 
}

#home .banner button:hover {
  box-shadow: #E10F0F 1px 1px 25px;
  background-color: rgba(129, 43, 87, 0.4);
  border: 2px solid #E10F0F; 
}

#sobre_mi{
   background: url(../images/fondo-sp.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: color; 
}
#sobre_mi .container .text h1 {
  margin: 0 auto 10px;
}
 
@media screen and (max-width: 990px) {
  #sobre_mi .container .text h1 {
    margin-top: 100px !important; 
    }
  }

#sobre_mi .container .text h1:before, #sobre_mi .container .text h1:after {
  width: calc((100% - 255px) / 2); 
}

#sobre_mi .container .text p {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px;
  color: black;
  font-style: normal;
  font-family: "Delius Swash Caps", cursive;
  text-align: center;
}

#sobre_mi .container .row {
  margin: 50px 0; 
}

#sobre_mi .container .row .slider {
  border: 5px solid #CB0404;
  padding: 0; 
}

#sobre_mi .container .gallery {
  background: #CB0404; 
}

#sobre_mi .container .gallery-cell {
  width: 100%;
  height: 500px;
  counter-increment: gallery-cell; 
}

#sobre_mi .container .foto-one {
  background: url(../images/inseguridad1.jpg) no-repeat;
  background-size: cover; 
}

#sobre_mi .container .foto-two {
  background: url(../images/inseguridad2.jpg) no-repeat;
  background-size: cover; 
}

#sobre_mi .container .foto-three {
  background: url(../images/inseguridad3.jpg) no-repeat;
  background-size: cover;
  background-position: 40%; 
}

.text {
  position: relative; 
}
.text h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 40px auto 40px;
  color: #C51F1F;
  font-style:oblique;
  font-family:monospace;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -0.15em; 
}

@media only screen and (max-width: 480px) {
  .text h1 {
    font-size: 40px; 
  }
}

@media only screen and (max-width: 300px) {
  .text h1 {
    font-size: 20px; 
  }
}

.text h1:before, .text h1:after {
    content: "";
    position: absolute;
    top: 28px;
    height: 2px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #DF0101);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #DF0101); 
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .text h1:before, .text h1:after {
    height: 2.5px; 
  }
}

.text h1:before {
    left: 0; 
}
.text h1:after {
    left: auto;
    right: 0;
    background: -webkit-linear-gradient(left, #DF0101, rgba(255, 255, 255, 0)); 
}

